<div class="container">
    <div *ngFor="let citydetails of  WeatherData" (click)="navigateCityDetails(citydetails.cityName)">
        <div id="Weather-main-div">
            <div class="weather-box cityname" class="city-name-div">
                {{citydetails.cityName}}</div>
            <div class="weather-box temp-div">{{citydetails.temperature}}°C</div>
            <div class="bottom-partition">
                <div class="img-height" >
                    <img [src]="citydetails.imageUrl" alt="" class="img-height" >
                </div>
                <div class="weather-box time-div">Sunrise: {{citydetails.sunriseTime}}</div>
                <div class="weather-box time-div">Sunset: {{citydetails.sunsetTime}}</div>
            </div>
        </div>
    </div>
</div>