.container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap;
}

#Weather-main-div {
  border-radius: 10px;
  height: 250px;
  width: 35vh;
  background: linear-gradient(
    180deg,
    rgb(44, 187, 243) 0%,
    #cbcbdd 75%,
    #edeef1 100%
  );
  color: blue($color: #000000);
  font-family: sans-serif;
}

.weather-box {
  display: block;
  margin: 0 10px;
  width: fit-content;
}
.bottom-partition{
    position: relative;
    top: 80px;
}
.city-name-div{
    font-size: 25px;
    padding-left: 10px;
}
.time-div{
  font-size: 12px;
}
.cityname{
  margin-top: 10px;margin-left: 10px;
}
.temp-div{
  font-size: 20px;margin-top: 5px;
}
.img-height{
  height: 50px;
}