<div class="forecast-main-div" fxLayout="column" fxLayoutGap="20px">
    <header class="forecast-header">
        <h2>
            {{cityName}}
        </h2>
        <h4>5 Days Forecast</h4>
    </header>
    <div class="forecast-container" fxFlex="40">
        <ul *ngFor="let dayWise of  nDaysData" fxLayout="column" fxLayoutGap="20px">
            <li fxLayout="row" fxLayoutGap="20px">
                <span fxFlex="25">{{dayWise.date|date: 'EEE,MMM dd'}} at {{time}}</span>
                <span fxFlex="25"><img [src]="dayWise.imageUrl" alt="" style="height: 50px;"></span>
                <span fxFlex="25">{{dayWise.temperature}}°C</span>
                <span fxFlex="25">SeaLevel:{{dayWise.sea_level}}</span>
            </li>
        </ul>
    </div>
</div>