<div class="weather-container">
    <header class="header">
        <span class="homepage" (click)="gotoWeatherPage()"><i class="fa fa-home"></i></span>
        <span class="fontsize">Weather Forecast</span>
    </header>
    <router-outlet></router-outlet>
</div>