.header {
  height: 50px;
  color: blue($color: #000000);
  margin-left: 15px;
  font-family: sans-serif;
  border-radius: 10px;
}

.homepage > i {
  font-size: 30px;
}
.fontsize {
  font-size: 25px;
}
.homepage {
  padding-right: 25px;
  cursor: pointer;
}
